# Python
.venv
__pycache__

# Temporarily ignore sensitive examples
examples/aggregation.py
examples/covid.py
examples/covid.toml

# Ignore exported simulations
*.ipc
*.parquet

*.png
!/examples/images/*.png

# Documentation
public