[tool.poetry]
name = "violet-simulator"
version = "0.2.1"
description = "A smol simulator framework built on top of PyGame"
authors = ["Storm Timmermans <stormtimmermans@icloud.com>"]
repository = "https://github.com/m-rots/violet"
homepage = "https://violet.m-rots.com"
documentation = "https://api.violet.m-rots.com/vi"
readme = "README.md"
license = "MIT"
packages = [{ include = "vi" }]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
pygame = "^2.1.2"
pyserde = { extras = ["toml"], version = "^0.7.3" }
polars = "^0.13.38"
typing-extensions = "^4.2.0"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
isort = "^5.10.1"
pdoc = "^12.0.0"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
