[tool.poetry]
name = "violet-simulator"
version = "0.1.0"
description = ""
authors = ["Storm Timmermans <stormtimmermans@icloud.com>"]
repository = "https://github.com/m-rots/violet"
packages = [{ include = "vi" }]

[tool.poetry.dependencies]
python = ">=3.9, <3.11"
pygame = "^2.1.2"
pyserde = { extras = ["toml"], version = "^0.7.3" }
polars = "^0.13.38"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
isort = "^5.10.1"
seaborn = "^0.11.2"
pdoc = "^12.0.0"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
