{% extends "default/module.html.jinja2" %}
{% block head %}
<script defer data-domain="api.violet.m-rots.com" data-api="https://mando.m-rots.com/api/event" src="https://mando.m-rots.com/js/script.js"></script>
{% endblock %}